abbr[title] {
    cursor: help;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.skip-to-content:focus {
	background-color: #fff;
	display: inline-block;
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.button-transparent {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	margin: 0;
	padding: 0;
}

/* From bootstrap */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}



.h45-carousel {

}