<?xml version="1.0"?>
<phpunit bootstrap="holt45.php">
    <testsuites>
        <testsuite name="holt45 AllTests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>holt45/</directory>
            <file>holt45.php</file>
        </whitelist>
    </filter>
</phpunit>