.holt45-kbd {
    border-radius: 3px;
    font-size: 80%;
    padding: 2px 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    box-sizing: border-box;
    
    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
    border: 1px solid #aaa;
    box-shadow: 1px 2px 2px #ddd;
    color: #393939;
}

.holt45-kbd__symbol {
    font-size: 150%;
    margin-right: 3px;
    vertical-align: middle;
}